
<div id="rec259158334" class="r t-rec" style="opacity: 1;" data-animationappear="off" data-record-type="702">
    <!-- T702 -->
    <div class="t702">
       <div class="t-popup" data-tooltip-hook="#popup:buyajax" style="background-color: rgba(24, 24, 24, 0.8); display: none;">
          <div class="t-popup__close">
             <div class="t-popup__close-wrapper">
                <svg class="t-popup__close-icon" width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                   <g stroke="none" stroke-width="1" fill="#181818" fill-rule="evenodd">
                      <rect transform="translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) " x="10.3137085" y="-3.6862915" width="2" height="30"></rect>
                      <rect transform="translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) " x="10.3137085" y="-3.6862915" width="2" height="30"></rect>
                   </g>
                </svg>
             </div>
          </div>
          <div class="t-popup__container t-width t-width_6 t-popup__container-animated" style="background-color: #ededed;">
             <div class="t702__wrapper">
                <div class="t702__text-wrapper t-align_left">
                   <div class="t702__title t-title t-title_xxs" style="font-size:24px;line-height:1.4;font-weight:600;font-family:'Montserrat';">Оставить заявку</div>
                   <div class="t702__descr t-descr t-descr_xs" style="font-size:16px;line-height:1.6;font-weight:400;font-family:'Montserrat';">Напишите свой номер телефона и мы свяжемся с вами в ближайшее время</div>
                </div>
                <form method="POST" class="t-form t-form_inputs-total_2 ">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="t-submit" style="color:#181818;background-color:#5ae4aa;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;font-family:Montserrat;font-weight:400;">Оставить заявку</button>
                </form>
                <style>#rec259158334 input::-webkit-input-placeholder {color:#181818; opacity: 0.5;}	#rec259158334 input::-moz-placeholder {color:#181818; opacity: 0.5;}	#rec259158334 input:-moz-placeholder {color:#181818; opacity: 0.5;}	#rec259158334 input:-ms-input-placeholder {color:#181818; opacity: 0.5;}	#rec259158334 textarea::-webkit-input-placeholder {color:#181818; opacity: 0.5;}	#rec259158334 textarea::-moz-placeholder {color:#181818; opacity: 0.5;}	#rec259158334 textarea:-moz-placeholder {color:#181818; opacity: 0.5;}	#rec259158334 textarea:-ms-input-placeholder {color:#181818; opacity: 0.5;}</style>
                <div class="t702__form-bottom-text t-text t-text_xs t-align_left">
                   <div style="font-size:14px;" data-customstyle="yes">Нажимая на кнопку, я соглашаюсь с <a href="#popup:privacy" style="color:rgb(24, 24, 24) !important;text-decoration: none;border-bottom: 1px solid rgb(24, 24, 24);box-shadow: inset 0px -0px 0px 0px rgb(24, 24, 24);-webkit-box-shadow: inset 0px -0px 0px 0px rgb(24, 24, 24);-moz-box-shadow: inset 0px -0px 0px 0px rgb(24, 24, 24);">политикой конфиденциальности</a> сайта</div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <script type="text/javascript">$(document).ready(function(){ setTimeout(function(){ t702_initPopup('259158334'); }, 500); /* hack for Android */ var ua = navigator.userAgent.toLowerCase(); var isAndroid = ua.indexOf("android") > -1; if(isAndroid) { $('.t-body').addClass('t-body_scrollable-hack-for-android'); $('head').append("<style>@media screen and (max-width: 560px) {\n.t-body_scrollable-hack-for-android {\noverflow: visible !important;\n}\n}\n</style>"); console.log('Android css hack was inited'); }
       });
    </script>
    <style>#rec259158334 .t-submit:hover{ background-color: #8eedc6 !important;	}	#rec259158334 .t-submit{ -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;	}</style>
    <style>#rec259158334 .t-btn[data-btneffects-first],
       #rec259158334 .t-btn[data-btneffects-second],
       #rec259158334 .t-submit[data-btneffects-first],
       #rec259158334 .t-submit[data-btneffects-second] {	position: relative; overflow: hidden; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);
       }
    </style>
    <script type="text/javascript">$(document).ready(function() {
        $(".mask-phone").mask('+79999999999?9', {placeholder: ''});
       });
    </script>
 </div>
 